import( doMC )
import( foreach )
import( gamlss )
import( gamlss.dist )
import( Biobase )
import( bsseq )
import(methods)
import( DSS )
import( R.utils )
import( ggplot2 )
import( cowplot )
importFrom("purrr","quietly")
importFrom("plyr", "join")
importFrom("dplyr", "filter", "select", "mutate", "%>%")
importFrom("stats", "na.omit")
importFrom("utils", "read.csv", "read.table", "write.csv", "write.table")
importFrom("stats", "binom.test", "dbeta")
importFrom("rlang",".data")
export(
        runBorealis,
        runSingleNewSample,
        plotCpGsite
)
